<!DOCTYPE html>
<html>
  <head>
    <title>Amimono</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class ="headline">
        <%= link_to "amimono", root_path%>
      <h1>
    </header>
    <nav>
      <ul class="nav-list">
        <li class ="nav-list-item">
          <%= link_to "About", about_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "Works", works_path %>
        </li>
        <li class ="nav-list-item">
          <%= link_to "New Work", new_work_path %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
